.budgets {
    margin-top: 10px;
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Cinzel';
    text-decoration: underline #A79344;
    font-size: 30px;
}

.budgetDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnDiv {
    width: 100%;
    margin-top: 8px;
}

.card-body {
    width: 600px;
    color: #C0B283;
    border: 3px #A79344 solid;
    box-shadow: 2px 2px 6px 2px black;
    /* background-color: #373737; */
    background-color: #3A4660;
}
.purchase-card-body {
    width: 100%;
    color: #C0B283;
    border: 3px #A79344 solid;
    /* background-color: #373737; */
    background-color: #373737;
    padding: 8px;
}

.purchaseList {
    width: 100%
}

.detail-body {
    width: 800px;
    border: 1px #A79344 solid;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Cinzel Decorative', cursive;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-family: 'Cinzel Decorative', cursive;
}

.budgetDetail {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'Cinzel', serif;
}

.detailCard {
    width: 80%;
    border: lightgrey 1px solid;
    border-radius: 10px
}

.budgetButton {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

.budgetForm {
    margin-top: 150px;
    margin-left: 40px;
    font-family: 'Cinzel', serif;
    font-size: 1.4rem;
    border: 1px solid black;
    padding: 20px;
    width: 90%
}

.formText {
    font-family: 'Cinzel', serif;
    color: black;
    font-size: 2.2rem;
}

.progressBar {
    width: 400px;
    height: 20px;
    font-size: 18px;
}

.progressBar2 {
    width: 600px;
    height: 30px;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    margin-bottom: 28px;
}