.auth--container{
    margin-top: 90px;
}

.login {
    background-image: url(unsplash-city-scape.jpg);
    background-size: cover;
    min-width: 100%;
    min-height: 1100px;
    padding-top: 100px;
}
.register {
    background-image: url(unsplash-city-scape.jpg);
    background-size: cover;
    min-width: 100%;
    min-height: 1100px;
    padding-top: 100px;
}

.loginForm {
    width: 400px;
}

.registerForm {
    width: 500px;
    background-color: black
}


/* .regBtn {
    border: 2px solid #A79344;
    color: #A79344;
    background-color: white;
} */
/* .regBtn:hover {
    border: 2px solid #A79344;
    background-color: #A79344;
    color: white;
} */