.auth--container{
    margin-top: 120px;
}

/* .regBtn {
    border: 2px solid #A79344;
    color: #A79344;
    background-color: white;
} */
/* .regBtn:hover {
    border: 2px solid #A79344;
    background-color: #A79344;
    color: white;
} */